    <div id="timeslider-top">
      <div id="timeslider-wrapper">
        <div id="timeslider" unselectable="on" style="display: none">
          <div id="timeslider-left"></div>
          <div id="timeslider-right"></div>
          <div id="timer"></div>
          <div id="timeslider-slider">
            <div id="ui-slider-handle"></div>
            <div id="ui-slider-bar"></div>
          </div>
          <div id="playpause_button">
            <div id="playpause_button_icon" class=""></div>
          </div>
          <div id="steppers">
            <div class="stepper" id="leftstep"></div>
            <div class="stepper" id="rightstep"></div>
          </div>
          <div id="timeslider-close"><a href="#" title="Close the timeslider">X</a></div>
        </div>
      </div>

      <div class="timeslider-bar toolbar">
          <div class="editbarright" id="timeslider-editbar">
            <ul>
              <li onClick="window.padeditbar.toolbarClick('import_export');return false;">
                <a id="exportlink" title="Export to different document formats">
                  <div class="buttonicon buttonicon-import_export"></div>
                </a>
              </li>
            </ul>
          </div>

          <div>
              <h1>
                <span id="revision_label"></span>
                <span id="revision_date"></span>
              </h1>
              <p>Authors:
              <span id="authorsList">
                <span>No Authors</span>
              </span> </p>
          </div>
      </div>
    </div>
    
    <div id="timeslider-content"></div>